body {
    font-size: 50px;
}

p {
    text-align: center;
}

#btn {
    background-color: rgba(0, 0, 255, 1);
    width: 200px;
    border: 3px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
}

#btn:hover {
    background-color: rgba(0, 0, 255, 0.4);
}

#count {
    text-align: center;
    padding-top: 50px;
}